.header {
    background-color: #FFF;
    color: black
}

.header__menu {
   
    max-height: 34px;
    margin: auto;
    flex-shrink: 0;
    padding: 24px 165px 38px 165px;
}

.header__title {
 font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 64px;

}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;

}

@media screen and (max-width:500px) {
    .header__title {
        padding-left: 10px;
        line-height: 38px;
        font-size: 28px;
    }

    .header__nav {
        padding-left: 5px;
    }

    .header__menu {
        padding: 10px;
    }
}

@media screen and (max-width:900px) {
    .header__menu {
        padding: 10px;
    }
}