/* Стилизация кнопки */

body {
  padding: 30px;
}
.button {
  border-radius: 8px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button_primary {
  background-color: var(--blue);

  color: var(--white);
  padding: 15px 62px;
}

.button_primary:hover {
  background-color: var(--primary-hover);
}

.button_secondary {
  background-color: var(--purple);
  color: var(--white);
  padding: 15px 53px;
}
.button_secondary:hover {
  background-color: var(--secondary-hover);
}

.button_alternativ {
  padding: 15px 58px;
  background-color: var(--grey-1);
}
.button_alternativ:hover {
}
