/* Стилизация кнопки */

.button {
  border-radius: 8px;
  text-align: center;
  padding: 15px 15px 14px;
  max-height: 48px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button_primary {
  background-color: var(--blue);

  color: var(--white);
}

.button_primary:hover {
  background-color: var(--primary-hover);
}

.button_secondary {
  background-color: var(--purple);
  color: var(--white);
}
.button_secondary:hover {
  background-color: var(--secondary-hover);
}

.button_alternativ {
  border: 1px solid var(--grey-3);
  background-color: var(--grey-1);
  color: var(--Gray-4, #495057);
}
.button_alternativ:hover {
  border-color: var(--black);
}
