.wrapper-page {
  
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}

.footer{
/* height: 170px; */
/* background-color:var(--back-color); */

}
.main {
  /* width: 100%; */
  /* background-color: var(--back-color); */

}

.header {
  /* background-color: var(--back-color); */
}

