/* Стилизация аккордеона */

.accordion {
  max-width: 1110px;
  margin: auto;
 
}

.accordion__summary::marker {
  content: none;
  /* position: absolute;
   right: 0px; */
}

/* Вы не против, я оставлю для себя для примера.
Вдруг, когда-то пригодится такой способ
*/

/* .accordion__summary::after {
  content: url('./svg/Vector-open.svg');
  position: absolute;
  right: 0px;
  stroke-width: 2px;
  color: var(--grey-4);
} */

/* .accordion__details[open] .accordion__summary::after {
  content: url('./svg/Vector-close.svg');
  position: absolute;
  right: 0px;
  stroke-width: 2px;
  color: var(--grey-4);
} */

.accordion__details {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 32px 24px 32px;
  margin-bottom: 8px;
}

.accordion__details[open] {
  padding-bottom: 32px;
}

.accordion__details:last-child {
  margin-bottom: 0px;
}

.accordion__summary {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  position: relative;
  cursor: pointer;
  color: var(--black);
}

.accordion__content {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--grey-4);
  padding-top: 16px;
}
