.modal{
  --color-back-modal:#C4C4C4;
  --color-back-modal-window:#FFF;
  --color-placeholder:var(--grey-2);
  --color-modal-title: #334D6E;
  --color-modal-btn: #4263EB

}

.modal {
  width: 100vw;
  height: 100%;
  /* transform: translateY(-50%); */
  background-color: var(--color-back-modal);
  position: fixed;
  top: 0;
  display: none;
}
.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-back-modal-window);
  padding: 32px 38px 40px 40px;
  border-radius: 8px;
  /* width: 400px; */
}

.modal__data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 16px;
}

.modal__text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.modal__title {
  color: var(--color-modal-title);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  color: var(--color-modal-title);
}



.modal__button {
  border: 1px solid var(--color-modal-btn);
  border-radius: 8px;
  background-color: var(--color-modal-btn);
  color: var(--white);
 
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400; /* в макете 500, но внешне в браузере больше похоже на 400*/
  line-height: normal;
}

.modal__button_submit {
   padding: 15px 65px 14px 66px;
}

.modal__button_close {
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
}

.modal__button_close:hover {
  background-color: blue;
  border-color: rgb(2, 2, 192);
  cursor: pointer;
}

.modal__button_close:active {
 background-color: rgb(0, 140, 255);
 border-color: rgb(0, 140, 255);
}


/* .modal__input-email {
  margin-bottom: 24px;
} */

/* .modal__input {
  border: 1px solid var(--color-placeholder);
  border-radius: 8px;
  padding: 17px 24px 13px 24px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
} */

/* .modal__input::placeholder {
  color: var(--color-placeholder);
} */