

.histogram {
  padding: 16px 24px 24px 24px;
  background-color: var(--white);
  display: flex;
  flex-shrink: 1 ;
  flex-direction: column;
  justify-content: var(--sb);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.histogram__info {
  display: var(--df);
  font-style: var(--norm);
  justify-content: var(--sb);
  font-family: var(--fm);
  font-weight: 400;
  
}
.histogram__info-number_mt6 {
  margin-top: 6px;
}

.histogram__info-orders {
  color: var(--black);
}

.histogram__info-text {
  font-size: var(--fz16);
  font-family: var(--fm);
  line-height: 150%;
  
}

.histogram__info-number {
  font-size: var(--fz20);
  line-height: 130%;
  font-family: var(--fm);
}

.histogram__info-nav {
  font-size: var(--fz16);
  line-height: 150%;
  color: var(--blue);
}

.histogram__info-link {
  font-family: var(--fm);
  font-size: var(--fz16);
  font-style: var(--norm);
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.histogram__chart {
  margin-top: 30px; /* или здесь 39? */
  height: 50px; /* Что здесь тогда делать, черещ max-height? */
  display: var(--df);
  align-items: flex-end;
  justify-content:var(--sb);
  gap: 1px;
  flex-shrink: 1;

}

.histogram__chart-elem {
  /* как избавиться не пойму */
  /* flex-basis: 3%;  */

  /* появляется слипание*/
  flex-grow: 1;
  /* height: 25%; */
  background-color: var(--blue);
  /* &:nth-child(1n) {
    height: 15%;
  } */
  /* &:nth-child(2n) {
    height: 25%;
  }
  &:nth-child(3n) {
    height: 50%;
  }
  &:nth-child(4n) {
    height: 70%;
  }
  &:nth-child(5n) {
    height: 100%;
  }
  &:nth-child(10n) {
    height: 5%;
  }
  &:last-child {
    height: 55%;
  }
  &:first-child {
    height: 13%;
  } */
  
}

.histogram__chart-elem_large {
  height: 100%;
}
.histogram__chart-elem-medium {
  height: 55%;
}
.histogram__chart-elem_normal {
  height: 41%;
}
