@import '../fonts/fonts.css';
@import 'normalize.css';
@import "../../components/template/template.css";
@import "../../components/template/header/header.css";
@import "../../components/template/main/main.css" ;
@import "../../components/template/footer/footer.css" ;


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}
body, html {
    height: 100%;
    background-color: #F9FAFC;
}
.container {
    max-width: 1110px;
    height: 100%;
    margin: auto;
    /* если дочерний 100% будет вылезать из-за нних */
    /* padding: 10px;  */
}

.wrapper-page {
    --back-color: #F9FAFC;
    --menu-color-title: #000;
}

@media screen and (max-width:900px) {
    .container {
        max-width: 700px;
    }
   
}

@media screen and (max-width:700px) {
    .container {
        max-width: 500px;
    }
   
}

@media screen and (max-width:500px) {
    .container {
        max-width: 350px;
    }
   
}

