@import '../fonts/fonts.css';

@import 'normalize.css';
@import '../../components/body/body.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/cards/cards.css';
@import '../../components/card/card.css';
@import '../../components/container/body-wrapper.css';


@import '../../03-lection1/02-accordion/accordion.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}


body,html {
    height: 100%;
}


.accordion {
    max-width: 1110px;
    margin: auto;
   
  }

  .container {
    max-width: 1110px;
    margin: auto;
    padding: 0 10px;
}

@media screen  and (max-width: 1200px) {
    .container {
        max-width: 900px;
        margin: auto;
        
    }
}

@media screen  and (max-width: 950px) {
    .container {
        max-width: 750px;
        margin: auto;
    }
}

@media screen  and (max-width: 750px) {
    .container {
        max-width: 500px;
        margin: auto;
    }
}


