.calendar {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 28px  28px 34px ; /*  28 36 */
  color: var(--color-text);
  max-width: 300px;
}

.calencar__title {
  font-family: Inter;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin-bottom: 24px;
 
}

.calendar__wrapper{
  padding-bottom: 100%;
  position: relative;
}

.calendar__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(7,1fr);
  grid-auto-flow: rows;
  counter-reset: section;
}

.calender__item-day{
  color: var(--color-days);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height:  142.857% 
}


.calender__item:nth-child(n+12):nth-child(-n+42)::before{

  display: flex;
  counter-increment: section;
  content: counter(section);
}

.calender__item{
  display: flex;
  justify-content: center;
  justify-items:center ;
  align-items: center;

}

/* .calender__item-day::after {
  content: '';
} */

.calender__item:nth-child(n+30):nth-child(-n+33) {
  background-color: var(--color-back-i);
}

/* выделение можно делать через псевдо классы или через модификаторы? */

.calender__item:nth-child(29),
.calender__item:nth-child(34) {
  background-color: var(--color-back-b);
}

.calender__item-blue {
  background-color: var(--color-back-b)
}

.calender__item-white-blue {
  background-color: var(--color-back-i);
}