@import './const.css';


.skeleton {
    box-sizing: border-box;
    padding: 20px;
    /* height: var(--testH); */
    /* width: var(--testW); */
    border: 1px solid var(--grey-3);
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.info__block {
    height: 20px;
    /* width: 100%; */
    background-color:var(--grey-2);
 
}


.skeleton__people {
    display: flex;
    gap: 16px
}
.people__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 64px);
    gap: 8px;
}

.people__avatar {
    width: 64px;
    height: 64px;
    border-radius:50% ;
    background-color: var(--grey-2);
}

.info__name{
    width:30%
}

.info__lastname {
    width: 50%;
}

.skeleton__info {
    display: flex;
    flex-direction: column;
    align-content:space-between;
    gap: 8px;
}

.info__one{
    width: 96%;
}

.info__two{
    width: 90%;
}