.tooltip {
  display: inline-block;
  position: relative;
  /* width: 200px; */
}

.tooltip__buble {
  border-radius: 10px;
  background: var(--black, #212429);
  box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
  color: var(--gray-2, #dde2e5);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 13px 21px 8px 21px;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + 12px) ;
}

.tooltip__buble:after {
  content: '';
  border: 10px solid transparent;
  border-top-color: var(--black);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__buble {
  display: block;
}

.tooltip__trigger {
  cursor: pointer;
}