.footer {
  /* height: 383px; */
  padding: 20px;
  color: #212429;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box

}

.footer__title {
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  /* width: 111px; */
  /* height: 48px; */
  
}
.footer__info {
  max-width: 640px;
  max-height: 96px;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  
}
